# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# my excludes

arizepheonix/
chat-app-ui/